// =============================================
//        Global styles by Gary Hepting 
//          Last Updated:2013-1-23
// =============================================




///////////////////////
//   global styles   //
///////////////////////
html, body {
  width:100% !important;
  height:100%;
  font-size:12px;
  font-family:Helvetica, Arial, Geneva, sans-serif;
  line-height:14.4px;
  padding:0;
}
h1, h2, h3, h4, h5, h6 {
  line-height:1.1;
  margin-bottom:15px;
}
h1 {
  font-weight:200;
  font-size:28px;
}
h2 {
  font-weight:200;
  font-size:24px;
}
h3 {
  font-weight:500;
  font-size:18px;
}
h4 {
  font-weight:500;
  font-size:16px;
}
h5 {
  font-weight:900;
  font-size:14px;
}
h6 {
  font-weight:900;
  font-size:14px;
  text-transform:uppercase;
}
a {
  text-decoration:none;
  * {
    color:inherit;
  }
  &:hover, &:focus {
    text-decoration:underline;
    * {
      color:inherit;
    }
  }
}
hr {
  border:0;
  border-bottom:1px solid #ddd;
  margin:$gutter;
  clear:both;
}
img {
  max-width:100%;
  border:none;
}
p, ul, ol, dl {
  margin-bottom:10px;
  font-weight:normal;
  font-size:12px;
  line-height:1.6;
}
ul, ol {
  margin-left:20px;
}
ul {
  list-style-type:circle;
}
