// ===================================
//             Modals
// ===================================




.modal-ready {
  body, .modal {
    @include transition(0.25s all ease-out);
  }
  #overlay {
    @include transition(0.2s all ease-in);
  }
}

.modal-active {
  body {
    @include inner-shadow(#000, 200px, 0, 0);
  }
  .container {
    -webkit-filter:blur(3px);
    -moz-filter:blur(3px);
    -ms-filter:blur(3px);
    -o-filter:blur(3px);
    filter:blur(3px);
  }
  #overlay {
    visibility:visible;
    opacity:1;
  }
  .modal.active {
    visibility:visible;
    opacity:1;
  }
}

#overlay {
  visibility:hidden;
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  z-index:98;
  width:100%;
  height:100%;
  @include gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.9));
}

.modal {
  visibility:hidden;
  opacity:0;
  position:fixed;
  top:10%;
  left:10%;
  z-index:99;
  max-width:80%;
  max-height:80%;
  overflow:auto;
  padding:$gutter * 3;
  background:white;
  @include drop-shadow(rgb(50,50,50), 50px, 0, 0);
  @include rounded($radius);
  .close, .fullscreen {
    position:absolute;
    font-size:1.25em;
    top:$gutter;
    right:$gutter;
    cursor:pointer;
    &:hover, &:focus {
      color:$link-active;
    }
  }
  .fullscreen {
    color:#ccc;
    right:auto;
    left:$gutter;
  }
}