Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /$1.php [L]

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/plain text/html application/xhtml+xml application/rss+xml text/xml application/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>

ErrorDocument 404 /404.php
ErrorDocument 403 /404.php