// ===================================
//       Groundwork Buttons
// ===================================




button, .button, a.button, a.button:link, a.button:visited, input[type=submit],  input[type=button], input[type=reset] {
  background:$blue-2;
  border:1px solid $blue;
  color:$white;
  text-shadow:0 0 5px rgba(0,0,0,0.25);
  &:hover, &:focus {
    background:$blue;
    color:$white;
  }
  &.active, &.active:hover, &.active:focus {
    background:$navy;
    border-color:lighten($navy, 10%);
  }
  &.disabled {
    background:lighten(gray, 15%);
    border-color:gray;
    color:lighten(gray, 35%);
  }
  &.white {
    background:$white;
    border:1px solid $lt-gray;
    &:hover, &:focus  { background:$lt-gray; }
  }
  &.black {
    background:$black;
    border:1px solid $dk-gray;
    &:hover, &:focus  { background:$dk-gray; }
  }
  &.gray {
    background:$gray;
    border:1px solid $dk-gray;
    &:hover, &:focus  { background:$dk-gray; }
  }
  &.lt-gray {
    background:$lt-gray;
    border:1px solid $md-gray;
    &:hover, &:focus  { background:$md-gray; }
  }
  &.md-gray {
    background:$md-gray;
    border:1px solid $gray;
    &:hover, &:focus  { background:$gray; }
  }
  &.dk-gray {
    background:$dk-gray;
    border:1px solid $black;
    &:hover, &:focus  { background:$black; }
  }
  &.green {
    background:$green;
    border:1px solid $dk-green;
    &:hover, &:focus  { background:$dk-green; }
  }
  &.lt-green {
    background:$lt-green;
    border:1px solid $green;
    &:hover, &:focus  { background:$green; }
  }
  &.dk-green {
    background:$dk-green;
    border:1px solid $green;
    &:hover, &:focus  { background:$green; }
  }
  &.blue-1 {
    background:$blue-1;
    border:1px solid $blue-2;
    &:hover, &:focus  { background:$blue-2; }
  }
  &.blue-2 {
    background:$blue-2;
    border:1px solid $blue;
    &:hover, &:focus  { background:$blue; }
  }
  &.blue-3, &.blue {
    background:$blue;
    border:1px solid $dk-blue;
    &:hover, &:focus  { background:$dk-blue; }
  }
  &.lt-blue {
    background:$lt-blue;
    border:1px solid $blue;
    &:hover, &:focus  { background:$blue; }
  }
  &.dk-blue {
    background:$dk-blue;
    border:1px solid $blue;
    &:hover, &:focus  { background:$blue; }
  }
  &.navy {
    background:$navy;
    border:1px solid $dk-blue;
    &:hover, &:focus  { background:$dk-blue; }
  }
  &.red {
    background:$red;
    border:1px solid $dk-red;
    &:hover, &:focus  { background:$dk-red; }
  }
  &.lt-red {
    background:$lt-red;
    border:1px solid $red;
    &:hover, &:focus  { background:$red; }
  }
  &.dk-red {
    background:$dk-red;
    border:1px solid $red;
    &:hover, &:focus  { background:$red; }
  }
  &.dropdown {
    ul {
      @include filter-shadow(rgba(0,0,0,0.25), 5px, 0, 0);
      li {
        a {
          &.disabled {
            background:lighten(gray, 15%);
            border-color:gray;
            color:lighten(gray, 30%);
          }
        }
      }
    }
  }
}
