// ===================================
//         Groundwork Layout
// ===================================




body {
  background:$lt-gray;
  color:$dk-gray;
}

hr {
  margin:$gutter auto;
  border:none;
  border-bottom:1px solid $md-gray;
}

.border-right, 
.border-left, 
.border-top, 
.border-bottom { border-color:$md-gray; }

.layout {
  padding:$gutter;
  background:$dk-blue;
  @include rounded($radius);
}

.demo, .layout {
  .row {
    background:lighten($blue-1, 20%);
  }
  .whole, 
  .half, .halves, 
  .third, .thirds, 
  .fourth, .fourths, 
  .fifth, .fifths, 
  .sixth, .sixths, 
  .seventh, .sevenths, 
  .eighth, .eighths, 
  .ninth, .ninths, 
  .tenth, .tenths, 
  .eleventh, .elevenths, 
  .twelfth, .twelfths {
    text-align:center;
    min-height:1em;
    padding-top:$gutter;
    padding-bottom:$gutter;
    background:$blue-1;
    border:1px dashed $white;
    @include drop-shadow(rgba(0,0,0,0.25), 5px, 0, 0);
    color:$white;
    h1,h2,h3,h4,h5,h6 {
      color:$white;
      margin:0;
    }
    font-size:0.8em;
    &.small-tablet {
      background:$blue-2;
    }
    &.mobile {
      background:$blue-3;
    }
  }
  &.reordering {
    .row {
      background:$lt-red;
    }
    .whole, 
    .half, .halves, 
    .third, .thirds, 
    .fourth, .fourths, 
    .fifth, .fifths, 
    .sixth, .sixths, 
    .seventh, .sevenths, 
    .eighth, .eighths, 
    .ninth, .ninths, 
    .tenth, .tenths, 
    .eleventh, .elevenths, 
    .twelfth, .twelfths {
      background:$red;
    }
  }
  &.centering {
    .row {
      background:$lt-green;
    }
    .whole, 
    .half, .halves, 
    .third, .thirds, 
    .fourth, .fourths, 
    .fifth, .fifths, 
    .sixth, .sixths, 
    .seventh, .sevenths, 
    .eighth, .eighths, 
    .ninth, .ninths, 
    .tenth, .tenths, 
    .eleventh, .elevenths, 
    .twelfth, .twelfths {
      background:$dk-green;
    }
  }
  &.offsetting {
    .row {
      background:lighten($lt-blue, 25%);
    }
    .whole, 
    .half, .halves, 
    .third, .thirds, 
    .fourth, .fourths, 
    .fifth, .fifths, 
    .sixth, .sixths, 
    .seventh, .sevenths, 
    .eighth, .eighths, 
    .ninth, .ninths, 
    .tenth, .tenths, 
    .eleventh, .elevenths, 
    .twelfth, .twelfths {
      background:$lt-blue;
    }
  }
}

.circle, .square {
  &.large {
    width:3em;
    max-width:100%;
    height:3em;
    max-height:100%;
    font-size:3em;
    margin:0 auto $gutter;
  }
}

.circle {
  .cell {
    @include rounded(50% 50%);
  }
}

.cell {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width:inherit;
  height:inherit;
  margin:0 auto;
  font-size:inherit;
  color:$white;
  i {
    display:block;
    margin:0 auto;
  }
}

.browser {
  display:inline-block;
  width:72px;
  max-width:100%;
  height:72px;
  text-indent:-9999em;
  background-size:275%;
  background-repeat:no-repeat;
  @include filter-shadow(rgba(0,0,0,0.35), 5px, 0, 0); // color, blur, x, y
  &.chrome            { @include data-image('browsers/chrome.svg'); }
  &.firefox           { @include data-image('browsers/firefox.svg'); }
  &.internet_explorer { @include data-image('browsers/ie.svg'); }
  &.opera             { @include data-image('browsers/opera.svg'); }
  &.safari            { @include data-image('browsers/safari.svg'); }
}

.the-icons {
  list-style:none;
  li {
    padding:$gutter;
    position:relative;
    text-align:center;
    &:hover {
      color:$navy;
      text-shadow:0 0 5px rgba(0,0,0,0.25);
      &:after {
        content:attr(data-class);
        display:block;
        position:absolute;
        width:100%;
        text-align:center;
        left:0;
      }
    }
    i {
      font-size:2.5em;
    }
  }
}
