// ===================================
//      Customized Typography
// ===================================




a, a:link, a:visited {
  color:$navy;
  text-decoration:none;
  &:hover, &:focus {
    color:$blue;
    text-decoration:none;
  }
}

h1.heading {
  font-size:3em;
  text-shadow:0 0 5px rgba(0,0,0,0.25);
  a, a:link, a:visited {
    color:$navy;
    a:hover, a:focus {
      color:$navy;
    }
  }
  sup {
    font-size:0.35em;
  }
  .logo {
    display:inline-block;
    width:1em;
    height:1em;
    position:relative;
    top:0.1em;
    @include data-image('groundwork-logo.svg');
    background-size:100% 100%;
    text-indent:-9999em;
    overflow:hidden;
    @include filter-shadow(rgba(0,0,0,0.25), 5px, 0, 0); // color, blur, x, y
  }
}

.responsive:not('.heading') {
  line-height:1;
}

.hero {
  text-shadow:0 0 5px rgba(0,0,0,0.25);
  .large.button {
    line-height:2.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack('Average Sans');
  color:$navy;
}

p, ul, ol, dl {
  a, a:link, a:visited {
    color:$navy;
    border-bottom:1px dotted $navy;
    @include transition('color 0.25s, border-color 0.25s');
    &:hover, &:focus {
      color:$blue;
      border-bottom:1px dotted $blue;
    }
  }
}


ul.list {
  li {
    &:before {
      color:$blue;
    }
  }
}

ol.list > li:before {
  color:$white;
  background:$blue;
}

::selection {
  background:$lt-blue;
  color:$white;
}
::-moz-selection {
  background:$lt-blue;
  color:$white;
}

code {
  color:$lt-blue;
  background:$dk-gray;
  border-left:2.5em solid $gray;
  tag {
    color:$lt-red;
  }
  span {
    color:$green;
    &.key {
      color:$lt-red;
    }
  }
  content {
    color:$white;
  }
  function, prop {
    color:$lt-blue;
  }
  class, method {
    color:$green;
  }
  val {
    color:$purple;
  }
  string {
    color:$yellow;
  }
  arg {
    color:$orange;
    font-style:italic;
  }
  comment {
    color:lighten($gray, 10%);
  }
  &.inline {
    background:darken($lt-gray, 5%);
    color:$navy;
  }
}