// ===================================
// Legacy Fallbacks for No SVG Support
// ===================================




h1.heading {
  .logo {
    background:transparent url('../images/groundwork-logo_128x128.png') center center no-repeat;
    background-size:100% 100%;
  }
}

.browser {
  background-size:100% 100%;
  &.chrome            { background-image:url('../images/browsers/chrome.png'); }
  &.firefox           { background-image:url('../images/browsers/firefox.png'); }
  &.internet_explorer { background-image:url('../images/browsers/ie.png'); }
  &.opera             { background-image:url('../images/browsers/opera.png'); }
  &.safari            { background-image:url('../images/browsers/safari.png'); }
}